.beatBox{
  background: #111;
  border-radius: 10px;
  box-shadow: 0 0 20px #0005;
  padding: 20px 0px;
}
.beatBox .catPan{
  width: 100%;
}
.beatBox .catPan .catBox {
  width: 100%;
  flex-flow: row wrap;
}

.beatBox .catPan .catBox .cat{
  min-width: 150px;
  text-align: center;
  padding: 10px 20px;
  background: #222;
  margin: 2px;
  border-radius: 5px;
}
.musicPan .musicBox{
  flex-flow: row wrap;  
}

.music{
  max-width: 400px;
  height: 80px;
  width: 100%;
  border-radius: 10px;
  padding: 0 10px;
  margin: 20px;
  background: #222;
  justify-content: space-between;
  box-shadow: 0 5px 30px #0004;
  user-select: none;
}
.music .ico{
  border: 1px solid #444;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1/1;
  margin: 5px;
}
.music .middle .name{
  font-weight: bold;
}